<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <numExecutors>1</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.GlobalMatrixAuthorizationStrategy">
    <permission>hudson.scm.SCM.Tag:dervin</permission>
    <permission>hudson.scm.SCM.Tag:oster</permission>
    <permission>hudson.model.Item.Delete:oster</permission>
    <permission>hudson.model.Computer.Configure:oster</permission>
    <permission>hudson.model.Run.Update:dervin</permission>
    <permission>hudson.model.Run.Update:oster</permission>
    <permission>hudson.model.View.Create:dervin</permission>
    <permission>hudson.model.View.Create:oster</permission>
    <permission>hudson.model.Hudson.Administer:oster</permission>
    <permission>hudson.model.View.Delete:dervin</permission>
    <permission>hudson.model.View.Delete:oster</permission>
    <permission>hudson.model.Item.Workspace:dervin</permission>
    <permission>hudson.model.Item.Workspace:oster</permission>
    <permission>hudson.model.Hudson.Read:dervin</permission>
    <permission>hudson.model.Hudson.Read:anonymous</permission>
    <permission>hudson.model.Hudson.Read:oster</permission>
    <permission>hudson.model.Item.Create:dervin</permission>
    <permission>hudson.model.Item.Create:oster</permission>
    <permission>hudson.model.Run.Delete:oster</permission>
    <permission>hudson.model.Item.Build:dervin</permission>
    <permission>hudson.model.Item.Build:oster</permission>
    <permission>hudson.model.View.Configure:dervin</permission>
    <permission>hudson.model.View.Configure:oster</permission>
    <permission>hudson.model.Computer.Delete:oster</permission>
    <permission>hudson.model.Item.Configure:dervin</permission>
    <permission>hudson.model.Item.Configure:oster</permission>
  </authorizationStrategy>
  <securityRealm class="hudson.security.HudsonPrivateSecurityRealm">
    <disableSignup>false</disableSignup>
  </securityRealm>
  <systemMessage>All caGrid builds.</systemMessage>
  <jdks>
    <jdk>
      <name>JDK 1.5</name>
      <home>/usr/java/jdk1.5.0_16</home>
    </jdk>
  </jdks>
  <clouds/>
  <slaves>
    <slave>
      <name>cagrid01</name>
      <description>Linux cagrid01.bmi.ohio-state.edu 2.6.9-67.0.20.ELsmp #1 SMP  i686 i686 i386 GNU/Linux</description>
      <remoteFS>/home/oster/hudson</remoteFS>
      <numExecutors>1</numExecutors>
      <mode>NORMAL</mode>
      <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
      <launcher class="hudson.slaves.CommandLauncher">
        <agentCommand>ssh oster@cagrid01 ~/hudson/bin/slave.sh</agentCommand>
      </launcher>
      <label>Linux JDK1.5</label>
      <nodeProperties>
        <hudson.slaves.EnvironmentVariablesNodeProperty>
          <envVars serialization="custom">
            <unserializable-parents/>
            <tree-map>
              <default>
                <comparator class="hudson.util.CaseInsensitiveComparator"/>
              </default>
              <int>2</int>
              <string></string>
              <string></string>
              <string>GLOBUS_LOCATION</string>
              <string>/home/oster/ws-core-4.0.3</string>
            </tree-map>
          </envVars>
        </hudson.slaves.EnvironmentVariablesNodeProperty>
        <hudson.tools.ToolLocationNodeProperty>
          <locations>
            <hudson.tools.ToolLocationNodeProperty_-ToolLocation>
              <type>hudson.tasks.Ant$AntInstallation$DescriptorImpl</type>
              <name>Ant 1.6.5</name>
              <home>/usr/local/apache-ant-1.6.5</home>
            </hudson.tools.ToolLocationNodeProperty_-ToolLocation>
            <hudson.tools.ToolLocationNodeProperty_-ToolLocation>
              <type>hudson.tasks.Ant$AntInstallation$DescriptorImpl</type>
              <name>Ant 1.7.0</name>
              <home>/usr/local/apache-ant-1.7.0</home>
            </hudson.tools.ToolLocationNodeProperty_-ToolLocation>
            <hudson.tools.ToolLocationNodeProperty_-ToolLocation>
              <type>hudson.model.JDK$DescriptorImpl</type>
              <name>JDK 1.5</name>
              <home>/usr/java/jdk1.5</home>
            </hudson.tools.ToolLocationNodeProperty_-ToolLocation>
            <hudson.tools.ToolLocationNodeProperty_-ToolLocation>
              <type>hudson.model.JDK$DescriptorImpl</type>
              <name>JDK 1.5</name>
              <home></home>
            </hudson.tools.ToolLocationNodeProperty_-ToolLocation>
          </locations>
        </hudson.tools.ToolLocationNodeProperty>
      </nodeProperties>
    </slave>
    <slave>
      <name>bigmac</name>
      <description></description>
      <remoteFS>/Users/hudson</remoteFS>
      <numExecutors>1</numExecutors>
      <mode>EXCLUSIVE</mode>
      <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
      <launcher class="hudson.slaves.CommandLauncher">
        <agentCommand>ssh hudson@140.254.194.50 -p 2222 ~/hudson/bin/slave.sh</agentCommand>
      </launcher>
      <label>MacOSX JDK1.5</label>
      <nodeProperties>
        <hudson.slaves.EnvironmentVariablesNodeProperty>
          <envVars serialization="custom">
            <unserializable-parents/>
            <tree-map>
              <default>
                <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../../../../slave/nodeProperties/hudson.slaves.EnvironmentVariablesNodeProperty/envVars/tree-map/default/comparator"/>
              </default>
              <int>2</int>
              <string></string>
              <string></string>
              <string>GLOBUS_LOCATION</string>
              <string>/Users/hudson/ws-core-4.0.3</string>
            </tree-map>
          </envVars>
        </hudson.slaves.EnvironmentVariablesNodeProperty>
        <hudson.tools.ToolLocationNodeProperty>
          <locations>
            <hudson.tools.ToolLocationNodeProperty_-ToolLocation>
              <type>hudson.model.JDK$DescriptorImpl</type>
              <name>JDK 1.5</name>
              <home>/Library/Java/Home/</home>
            </hudson.tools.ToolLocationNodeProperty_-ToolLocation>
            <hudson.tools.ToolLocationNodeProperty_-ToolLocation>
              <type>hudson.tasks.Ant$AntInstallation$DescriptorImpl</type>
              <name>Ant 1.7.0</name>
              <home>/usr/share/ant</home>
            </hudson.tools.ToolLocationNodeProperty_-ToolLocation>
            <hudson.tools.ToolLocationNodeProperty_-ToolLocation>
              <type>hudson.model.JDK$DescriptorImpl</type>
              <name>JDK 1.5</name>
              <home></home>
            </hudson.tools.ToolLocationNodeProperty_-ToolLocation>
          </locations>
        </hudson.tools.ToolLocationNodeProperty>
      </nodeProperties>
    </slave>
    <slave>
      <name>cagrid02</name>
      <description>Linux cagrid01.bmi.ohio-state.edu 2.6.9-67.0.20.ELsmp #1 SMP  i686 i686 i386 GNU/Linux</description>
      <remoteFS>/home/oster/hudson</remoteFS>
      <numExecutors>1</numExecutors>
      <mode>NORMAL</mode>
      <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
      <launcher class="hudson.slaves.CommandLauncher">
        <agentCommand>ssh oster@cagrid02 ~/hudson/bin/slave.sh</agentCommand>
      </launcher>
      <label>Linux JDK1.5</label>
      <nodeProperties>
        <hudson.slaves.EnvironmentVariablesNodeProperty>
          <envVars serialization="custom">
            <unserializable-parents/>
            <tree-map>
              <default>
                <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../../../../slave/nodeProperties/hudson.slaves.EnvironmentVariablesNodeProperty/envVars/tree-map/default/comparator"/>
              </default>
              <int>2</int>
              <string></string>
              <string></string>
              <string>GLOBUS_LOCATION</string>
              <string>/home/oster/ws-core-4.0.3</string>
            </tree-map>
          </envVars>
        </hudson.slaves.EnvironmentVariablesNodeProperty>
        <hudson.tools.ToolLocationNodeProperty>
          <locations>
            <hudson.tools.ToolLocationNodeProperty_-ToolLocation>
              <type>hudson.tasks.Ant$AntInstallation$DescriptorImpl</type>
              <name>Ant 1.6.5</name>
              <home>/usr/local/apache-ant-1.6.5</home>
            </hudson.tools.ToolLocationNodeProperty_-ToolLocation>
            <hudson.tools.ToolLocationNodeProperty_-ToolLocation>
              <type>hudson.tasks.Ant$AntInstallation$DescriptorImpl</type>
              <name>Ant 1.7.0</name>
              <home>/usr/local/apache-ant-1.7.0</home>
            </hudson.tools.ToolLocationNodeProperty_-ToolLocation>
            <hudson.tools.ToolLocationNodeProperty_-ToolLocation>
              <type>hudson.model.JDK$DescriptorImpl</type>
              <name>JDK 1.5</name>
              <home>/usr/java/jdk1.5</home>
            </hudson.tools.ToolLocationNodeProperty_-ToolLocation>
            <hudson.tools.ToolLocationNodeProperty_-ToolLocation>
              <type>hudson.model.JDK$DescriptorImpl</type>
              <name>JDK 1.5</name>
              <home></home>
            </hudson.tools.ToolLocationNodeProperty_-ToolLocation>
          </locations>
        </hudson.tools.ToolLocationNodeProperty>
      </nodeProperties>
    </slave>
    <slave>
      <name>cagrid03</name>
      <description>Linux cagrid01.bmi.ohio-state.edu 2.6.9-67.0.20.ELsmp #1 SMP  i686 i686 i386 GNU/Linux</description>
      <remoteFS>/home/oster/hudson</remoteFS>
      <numExecutors>1</numExecutors>
      <mode>NORMAL</mode>
      <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
      <launcher class="hudson.slaves.CommandLauncher">
        <agentCommand>ssh oster@cagrid03 ~/hudson/bin/slave.sh</agentCommand>
      </launcher>
      <label>Linux JDK1.5</label>
      <nodeProperties>
        <hudson.slaves.EnvironmentVariablesNodeProperty>
          <envVars serialization="custom">
            <unserializable-parents/>
            <tree-map>
              <default>
                <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../../../../slave/nodeProperties/hudson.slaves.EnvironmentVariablesNodeProperty/envVars/tree-map/default/comparator"/>
              </default>
              <int>2</int>
              <string></string>
              <string></string>
              <string>GLOBUS_LOCATION</string>
              <string>/home/oster/ws-core-4.0.3</string>
            </tree-map>
          </envVars>
        </hudson.slaves.EnvironmentVariablesNodeProperty>
        <hudson.tools.ToolLocationNodeProperty>
          <locations>
            <hudson.tools.ToolLocationNodeProperty_-ToolLocation>
              <type>hudson.tasks.Ant$AntInstallation$DescriptorImpl</type>
              <name>Ant 1.6.5</name>
              <home>/usr/local/apache-ant-1.6.5</home>
            </hudson.tools.ToolLocationNodeProperty_-ToolLocation>
            <hudson.tools.ToolLocationNodeProperty_-ToolLocation>
              <type>hudson.tasks.Ant$AntInstallation$DescriptorImpl</type>
              <name>Ant 1.7.0</name>
              <home>/usr/local/apache-ant-1.7.0</home>
            </hudson.tools.ToolLocationNodeProperty_-ToolLocation>
            <hudson.tools.ToolLocationNodeProperty_-ToolLocation>
              <type>hudson.model.JDK$DescriptorImpl</type>
              <name>JDK 1.5</name>
              <home>/usr/java/jdk1.5</home>
            </hudson.tools.ToolLocationNodeProperty_-ToolLocation>
            <hudson.tools.ToolLocationNodeProperty_-ToolLocation>
              <type>hudson.model.JDK$DescriptorImpl</type>
              <name>JDK 1.5</name>
              <home></home>
            </hudson.tools.ToolLocationNodeProperty_-ToolLocation>
          </locations>
        </hudson.tools.ToolLocationNodeProperty>
      </nodeProperties>
    </slave>
    <slave>
      <name>cagrid04</name>
      <description>Linux cagrid01.bmi.ohio-state.edu 2.6.9-67.0.20.ELsmp #1 SMP  i686 i686 i386 GNU/Linux</description>
      <remoteFS>/home/oster/hudson</remoteFS>
      <numExecutors>1</numExecutors>
      <mode>NORMAL</mode>
      <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
      <launcher class="hudson.slaves.CommandLauncher">
        <agentCommand>ssh oster@cagrid04 ~/hudson/bin/slave.sh</agentCommand>
      </launcher>
      <label>Linux JDK1.5</label>
      <nodeProperties>
        <hudson.slaves.EnvironmentVariablesNodeProperty>
          <envVars serialization="custom">
            <unserializable-parents/>
            <tree-map>
              <default>
                <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../../../../slave/nodeProperties/hudson.slaves.EnvironmentVariablesNodeProperty/envVars/tree-map/default/comparator"/>
              </default>
              <int>2</int>
              <string></string>
              <string></string>
              <string>GLOBUS_LOCATION</string>
              <string>/home/oster/ws-core-4.0.3</string>
            </tree-map>
          </envVars>
        </hudson.slaves.EnvironmentVariablesNodeProperty>
        <hudson.tools.ToolLocationNodeProperty>
          <locations>
            <hudson.tools.ToolLocationNodeProperty_-ToolLocation>
              <type>hudson.tasks.Ant$AntInstallation$DescriptorImpl</type>
              <name>Ant 1.6.5</name>
              <home>/usr/local/apache-ant-1.6.5</home>
            </hudson.tools.ToolLocationNodeProperty_-ToolLocation>
            <hudson.tools.ToolLocationNodeProperty_-ToolLocation>
              <type>hudson.tasks.Ant$AntInstallation$DescriptorImpl</type>
              <name>Ant 1.7.0</name>
              <home>/usr/local/apache-ant-1.7.0</home>
            </hudson.tools.ToolLocationNodeProperty_-ToolLocation>
            <hudson.tools.ToolLocationNodeProperty_-ToolLocation>
              <type>hudson.model.JDK$DescriptorImpl</type>
              <name>JDK 1.5</name>
              <home>/usr/java/jdk1.5</home>
            </hudson.tools.ToolLocationNodeProperty_-ToolLocation>
            <hudson.tools.ToolLocationNodeProperty_-ToolLocation>
              <type>hudson.model.JDK$DescriptorImpl</type>
              <name>JDK 1.5</name>
              <home></home>
            </hudson.tools.ToolLocationNodeProperty_-ToolLocation>
          </locations>
        </hudson.tools.ToolLocationNodeProperty>
      </nodeProperties>
    </slave>
  </slaves>
  <quietPeriod>60</quietPeriod>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>All</name>
    </hudson.model.AllView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>caGrid 1.3</name>
      <description>The builds which are run against the caGrid 1.3 release branch.</description>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../slaves/slave/nodeProperties/hudson.slaves.EnvironmentVariablesNodeProperty/envVars/tree-map/default/comparator"/>
      </jobNames>
      <includeRegex>.*-1\.3-.*</includeRegex>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Current Development</name>
      <description>The builds which are run against the HEAD of the repository.</description>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../slaves/slave/nodeProperties/hudson.slaves.EnvironmentVariablesNodeProperty/envVars/tree-map/default/comparator"/>
        <string>caGrid-Continuous</string>
        <string>caGrid-Mac-Nightly</string>
        <string>caGrid-Nightly</string>
        <string>caGrid-System-Tests</string>
      </jobNames>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Continuous</name>
      <description>The builds which are run as soon as code changes in the HEAD of the repository.</description>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../slaves/slave/nodeProperties/hudson.slaves.EnvironmentVariablesNodeProperty/envVars/tree-map/default/comparator"/>
      </jobNames>
      <includeRegex>.*-Continuous.*</includeRegex>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>caGrid 1.2</name>
      <description>The builds which are run against the caGrid 1.2 release branch.</description>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../slaves/slave/nodeProperties/hudson.slaves.EnvironmentVariablesNodeProperty/envVars/tree-map/default/comparator"/>
      </jobNames>
      <includeRegex>.*-1\.2-.*</includeRegex>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>caGrid 1.1</name>
      <description>The builds which are run against the caGrid 1.1 release branch.</description>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../slaves/slave/nodeProperties/hudson.slaves.EnvironmentVariablesNodeProperty/envVars/tree-map/default/comparator"/>
        <string>caGrid-1.1-System-Tests</string>
      </jobNames>
      <includeRegex>.*-1\.1-.*</includeRegex>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>caGrid 1.0</name>
      <description>The builds which are run against the caGrid 1.0 release branch.</description>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../slaves/slave/nodeProperties/hudson.slaves.EnvironmentVariablesNodeProperty/envVars/tree-map/default/comparator"/>
        <string>caGrid-1.0-Nightly</string>
      </jobNames>
      <includeRegex>.*-1\.0-.*</includeRegex>
    </listView>
  </views>
  <primaryView>All</primaryView>
  <slaveAgentPort>8443</slaveAgentPort>
  <label></label>
  <nodeProperties/>
  <globalNodeProperties/>
  <disabledAdministrativeMonitors/>
</hudson>