<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>caGrid HEAD nightly build using spaces in the directory path to test Introduce regressions.&#xd;
See bug:&#xd;
http://gforge.nci.nih.gov/tracker/?group_id=25&amp;atid=174&amp;func=detail&amp;aid=19306</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.disk__usage.DiskUsageProperty/>
  </properties>
  <scm class="hudson.scm.CVSSCM">
    <cvsroot>:ext:anonymous@cbiocvs2.nci.nih.gov:/share/content/gforge/cagrid-1-0</cvsroot>
    <module>cagrid-1-0/caGrid</module>
    <cvsRsh>/home/oster/hudson/bin/wraplink.sh</cvsRsh>
    <canUseUpdate>true</canUseUpdate>
    <flatten>true</flatten>
    <repositoryBrowser class="hudson.scm.browsers.ViewCVS">
      <url>http://gforge.nci.nih.gov/plugins/scmcvs/cvsweb.php/?cvsroot=cagrid-1-0;f=h</url>
    </repositoryBrowser>
    <isTag>false</isTag>
    <excludedRegions></excludedRegions>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <triggers class="vector">
    <hudson.triggers.TimerTrigger>
      <spec>@midnight</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <builders>
    <hudson.tasks.Ant>
      <targets>configure-clean</targets>
      <antName>Ant 1.7.0</antName>
      <buildFile>build.xml</buildFile>
    </hudson.tasks.Ant>
    <hudson.tasks.Ant>
      <targets>all</targets>
      <antName>Ant 1.7.0</antName>
      <buildFile>caGrid/build.xml</buildFile>
    </hudson.tasks.Ant>
    <hudson.tasks.Ant>
      <targets>test</targets>
      <antName>Ant 1.7.0</antName>
      <buildFile>build.xml</buildFile>
    </hudson.tasks.Ant>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>integration-repository/**,repository/**,test/logs/junit/report/**</artifacts>
      <latestOnly>true</latestOnly>
    </hudson.tasks.ArtifactArchiver>
    <hudson.tasks.junit.JUnitResultArchiver>
      <testResults>test/logs/junit/*.xml</testResults>
    </hudson.tasks.junit.JUnitResultArchiver>
    <hudson.plugins.warnings.WarningsPublisher>
      <threshold></threshold>
      <newThreshold></newThreshold>
      <failureThreshold></failureThreshold>
      <newFailureThreshold></newFailureThreshold>
      <healthy></healthy>
      <unHealthy></unHealthy>
      <height></height>
      <pluginName>[WARNINGS] </pluginName>
      <thresholdLimit>low</thresholdLimit>
      <defaultEncoding></defaultEncoding>
      <pattern></pattern>
      <parserNames/>
      <canRunOnFailed>true</canRunOnFailed>
    </hudson.plugins.warnings.WarningsPublisher>
    <hudson.tasks.Mailer>
      <recipients>scott.oster@osumc.edu</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers>
    <hudson.plugins.build__timeout.BuildTimeoutWrapper>
      <timeoutMinutes>240</timeoutMinutes>
    </hudson.plugins.build__timeout.BuildTimeoutWrapper>
  </buildWrappers>
</project>