/* This CSS sets the default styles for tabs. */

.tabs {
	-moz-border-radius-topleft:10px;
	-moz-border-radius-topright:10px;
	background:#D0D0D0 none repeat scroll 0 0;
	border:medium none;
	display:inline-block;
	padding:0 2px;
	margin: 0 0 1.5em 0;
}

.tabs li {
	background: url(../images/foop/YUI_tab_not_selected.png);
	display: inline;
	float: left;
	line-height: 21px;
	margin:5px;
	padding: 0;
	text-decoration: none;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

.tabs li a, .tabs li span {
	background: url(../images/foop/YUI_tab_not_selected.png);
	display: block;
	float: left;
	padding: 2px 15px;
	text-decoration: none;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

.tabs li.current {
	background: url(../images/foop/YUI_tab_selected.png);
	top: 0.15em;
}

.tabs li.current a, .tabs li.current span {
	background: url(../images/foop/YUI_tab_selected.png);
	color: #fff;
	padding: 0.15em 1em;
}

.ie .tabs li {
	line-height: 2.35;
}

.ie .tabs li.current {
	top: 0.2em;
}